# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Django
*.sqlite3
media/
staticfiles/

# Env
.env
.env.local

# Node / React
node_modules/
dist/
build/

# Docker / OS
.DS_Store

# IDE
.vscode/
.idea/