SECRET_KEY=change-me
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=opscore_db
DB_USER=opscore_user
DB_PASSWORD=opscore_password
# Cambiar a DB_HOST=db cuando se agrege el backend al contenedor
DB_HOST=db
DB_PORT=5433

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_SSL=True
EMAIL_HOST_USER=just.sebastian03l@gmail.com
EMAIL_HOST_PASSWORD=PEDIR A SEBASTIAN
DEFAULT_FROM_EMAIL=OpsCore <just.sebastian03l@gmail.com>

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173